.brand_section{
    /* background-color: aqua; */
    max-width: 1147px;
    margin:0 auto;
    padding: 20px 0;
    font-family: Blinker,sans-serif;
}

.brand_heading_container{
    display: flex;
    justify-content: space-between;
    padding: 15px 5px;
    font-weight: 500;
    align-items: center;
    /* text-decoration: ; */
}

.brand_heading_container .brand_heading{
    font-size: 32px;
    color: rgb(65, 65, 65);

}

.brand_heading_container .brand_heading span{
    color:  rgb(73, 69, 190);;
    font-weight: 700;
}

.brand_heading_container a{
    padding: 14px 35px;
    background-color: rgb(0, 177, 0);
    color: white;
    border-radius: 5px;
    font-weight: 550;
    text-decoration: none;
    
}


.brand_body{
    display: flex;
    padding: 20px 0;
}

.brand_data{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand_image{
    width:43px;
    height: 43px;
    clip-path: polygon(14% 0, 85% 0, 100% 14%, 100% 83%,85% 100%,14% 100%,0 83%,0 14% );
}

.brand_name{
    font-size: 11px;
    text-align: center;
    width: 40px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    background-color: rgb(248, 248, 255);
    padding-top: 30px;
    min-width: 55px;
    margin-top: -25px;
    z-index: -1;
}